* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  background-color: hsl(205.71deg 33.33% 95.88%);
}

main {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 5rem 0;
  max-width: 1170px;
}

.img-container > img {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  text-transform: capitalize;
}
.content > * {
  margin-bottom: 2rem;
  letter-spacing: 0.1rem;
}

.title > h1 {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  color: hsl(204.71deg 72.34% 36.86%);
}
.content p {
  color: hsl(198.67deg 36.29% 51.37%);
}
.title p {
  font-weight: 600;
  color: #000;
}

.counter {
  display: flex;
  gap: 1rem;
  text-align: center;
}
.counter > div {
  background-color: hsl(208.8deg 60.98% 16.08%);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  /* margin-right: 2rem; */
  border: none;
  color: #ffffff;
  font-weight: 700;
}
.counter > div > span {
  font-size: 2rem;
}
